# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore build diretory
build/

# ignore helper scripts
make.sh
run.sh

# ignore information for static code analysis
compile_commands.json

# ignore IDE configs
.idea/
cmake-build-debug/

