[submodule "Thirdparty/log.c"]
	path = Thirdparty/log.c
	url = git@github.com:YouMustClean/log.c.git
[submodule "Thirdparty/toml11"]
	path = Thirdparty/toml11
	url = git@github.com:YouMustClean/toml11.git
[submodule "Thirdparty/lua"]
	path = Thirdparty/lua
	url = git@github.com:lua/lua.git
